.pointer {
  cursor: pointer;
}

.hover-bg:hover {
   background-color: var(--bs-secondary-bg);
 }

.selected {
  background-color: var(--bs-secondary-bg);
}

.transition-all {
  transition: all 0.2s ease-in-out;
}

.chat-item {
  position: relative;
  border-bottom: 1px solid #dee2e6;

  .chat-meta {
  }

  .chat-actions {
    display: none;
  }

  &:hover {
    .chat-meta {
      display: none;
    }

    .chat-actions {
      display: block;
    }
  }

  .trash-button {
    --p-button-outlined-danger-border-color: #dc3545;
    --p-button-outlined-danger-color: #dc3545;
    --p-button-outlined-danger-hover-background: rgba(220, 53, 69, 0.1);
    --p-button-outlined-danger-hover-color: #fff;
    --p-button-outlined-danger-active-background: #bd2130;
  }
}
