<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="confirm-ban-dialog-title">{{ action }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      Do you really want to {{ action.toLowerCase() }} "{{ banWhat }}"?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        No, stop
      </button>
      <button type="button" class="btn btn-danger" (click)="confirm.emit()" data-bs-dismiss="modal">
        Yes, {{ action.toLowerCase() }}
      </button>
    </div>
  </div>
</div>
