.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  &.file-drop-overlay-active {
    .file-drop-overlay {
      position: absolute;
      inset: 0;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(8px);
      border: 4px dashed #003049;
      pointer-events: none; // So drag still works
      text-align: center;
    }
    h1 {
      font-size: 2rem;
      color: white;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    }
  }
}

.writing-box {
  position: sticky;
  bottom: 0;
  flex: 0 0 auto;
  background: #e4e4e4;
  padding: 0.5rem 1rem;
  border-top: 1px solid #dee2e6;
}

.chat-messages-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  padding: 1rem;
  gap: 0.7rem;
}

@media (max-width: 800px) {
  .writing-box {
    border-radius: 0.5rem;
  }
}
